	<div class="row">
		<div class="col-md-3">
			<form action="all.html" form="post">
			  <div class="form-group">
				<input type="text" class="form-control" name="searchText" placeholder="Text...">
			  </div>
			  <div class="form-group">
				<select name="category" class="form-control">
				  <option disabled selected>Select a music style:</option>
				  <option>Rock</option>
				  <option>Punk</option>
				  <option>Pop</option>
				  <option>Jazz</option>
				  <option>Blues</option>
				</select>
			  </div>
			  <button type="submit" class="btn btn-warning btn-block">Search</button>
			</form>
		</div>
		<div class="col-md-6">
			<big style="color: royalblue"><b>{FOUNDED}</b> videos found</big>
			{VIDEOS}
		</div>
		<div class="col-md-3 {INLOGGED}">
			<h4 style="color: darkred">Recommended for you</h4>
			<center><a href="1.html"><img class="media-object" src="http://placehold.it/150x100" alt="placeholder"></a></center>
			<h4><a href="1.html">Wildlife</a></h4>
			<b style="color: blue">00:30</b> - TestUser<br>
			<b style="color: green">Rock</b> - Difficult<br>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</div>